<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {{!-- Bootstrap --}}
  <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
  {{!-- Font Awesome --}}
  <script src="https://kit.fontawesome.com/e9c78afe94.js" crossorigin="anonymous"></script> 
  <title>Expense-tracker</title>
</head>
<body>
  <nav class="navbar d-flex justify-content-around" style="background-color:aliceblue;">
    <h4>家庭記帳本</h4> 
    <form action="/logout">
      <button class="btn btn-primary" type="submit">登出</button>
    </form>
  </nav>
  {{{body}}}
  <script src="/javascripts/bootstrap.bundle.min.js"></script>
</body>
</html>