<div>
  <h4>Login</h4>
  <form action="/login" method="post">

    <label for=""style="display: flex;">email</label>
    <input type="email" name="email" id="email" required>
    <label for=""style="display: flex;">password</label>
    <input type="password" name="password" id="password" required>
    <label for=""style="display: flex;">confirm Password</label>
    <input type="password" name="confirmPassword" id="confirmPassword" required>

    <button type="submit" style="display: flex;">Login</button>
  </form>

  <span>No account?</span>
  <a href="/register">Register</a>
</div>