<div>
  <h4>Register</h4>
  <form action="/register" method="post">
      <label for="" style="display: flex;">name</label>
      <input type="text" name="name" id="name" required>

      <label for="" style="display: flex;">email</label>
      <input type="email" name="email" id="email" required>
      <label for=""style="display: flex;">password</label>
      <input type="password" name="password" id="password" required>
      <label for=""style="display: flex;">confirm Password</label>
      <input type="password" name="confirmPassword" id="confirmPassword" required>

      <button type="submit" style="display: flex;">Register</button>
  </form>

  <span>Already have an account?</span>
  <a href="/login">Login</a>
</div>